server:
  port: 8080

mysql:
  host: 127.0.0.1
  port: 3306
  user: root
  password: root
  database: opinion_db
  max_idle_conn: 10
  max_open_conn: 30

redis:
  addr: 127.0.0.1:6379
  password: ""
  db: 0

log:
  level: info

